.dashboard {
    background: #17223b;
}

.card {
    border: 1px solid #6b778d;
    border-radius: 5px;
    background-color: #223250;
    color: white;
    text-decoration: none;
}

h3 {
    text-align: center;
}

.meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}