h2.title {
    text-decoration: underline;
    margin: 30px;
}

div.grams {
    display: flex;
    justify-content: space-evenly;
}

div.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.water {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.supplies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: auto;
    padding: 15px;
    border: .5px solid rgba(225, 225, 225, 0.336);
    border-radius: 8px;
    background-color: #282828;
    margin-bottom: 20px;
}

.directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 15px;
    margin: auto;
    border: .5px solid rgba(225, 225, 225, 0.336);
    border-radius: 8px;
    background-color: #282828;
    margin-bottom: 20px;
}

img.bean {
    width: 25px;
    height: 25px;
    margin: auto;
}

img.pot {
    width: 25px;
    height: 25px;
    margin: auto;
}

.measurement {
    font-size: medium;
    font-weight: 500;
}

.delete_but{
    display: flex;
    justify-content: center;
}

.deleteGuideButton {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

@media only screen and (min-width: 700px) {


    .directions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        padding: 15px;
        margin: auto;
        border: .5px solid rgba(225, 225, 225, 0.336);
        border-radius: 8px;
        background-color: #282828;
        margin-bottom: 20px;
    }

    .supplies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        margin: auto;
        padding: 15px;
        border: .5px solid rgba(225, 225, 225, 0.336);
        border-radius: 8px;
        background-color: #282828;
        margin-bottom: 20px;
    }

}

