* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

header.dash {
    
}

.login_img {
    width: 50%;
    height: auto;
    margin: auto;

}

.dash_nav{
    width: 100%;
    font-size: 50%;
}

img.dash_img {
    width: 50%;
    height: auto;
    margin: auto;
}
