h1.welcome {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

hr.welcome {
    width: 50%;
    border: .5px solid rgba(225, 225, 225, 0.253);
}

h4.tagline {
    font-size: larger;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px
}

p.routes{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px
}

p.tut_content {
    width: 75%;
    margin: auto;
    line-height: 25px;
}

p.dev_content{
    text-align: center;
    line-height: 25px;
    margin: auto;
    width:75%;
}

hr.lower {
    width: 75%;
    border: .5px solid rgba(225, 225, 225, 0.336);
}

hr.sep {
    width: 50%;
    border: .5px solid rgba(225, 225, 225, 0.336);
    margin-top: 50px;
    margin-bottom: 5px;
}

div.links {
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.tut_link {
    color: rgba(212, 118, 111, 0.726);
    font-size: larger;
    text-decoration: none;
    transition-duration: 0.4s;
}

.tut_link:hover {
    color: rgb(255, 255, 255);
}

ul.feat_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 20px;
}